{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h3>Create Account</h3>

<form method="post">
  {% csrf_token %}

  {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
        <small class="error">{{ field.errors|striptags }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn-primary">Register</button>
</form>

<p class="auth-switch">
  Already have an account?
  <a href="{% url 'accounts:login' %}">Login</a>
</p>
{% endblock %}
